.idea/
.gradle/
**/.gradle/
build/
**/build/
target/
**/target/
out/
**/out/
reports/
**/reports/
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.iml
*.ipr
*.iws
*.log
.DS_Store
Thumbs.db
hs_err_pid*
replay_pid*
